.cards__remove {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  border: none;
  background-image: url("../../../images/remove.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.cards__remove:hover {
  opacity: 0.5;
}
