.header {
  margin: 45px auto 0;
  /* margin-left: 200px; */
  max-width: 880px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    width: 320px;
  }
}
