.new-place__submit {
  text-align: center;
  width: 358px;
  height: 50px;
  margin-top: 48px;
  margin-left: 36px;
  margin-bottom: 36px;
  color: white;
  background-color: #000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.new-place__submit:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 767px) {
  .new-place__submit {
    margin-top: 46px;
    margin-left: 22px;
    margin-bottom: 25px;
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
