.new-place__title {
  margin-top: 34px;
  margin-left: 36px;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 767px) {
  .new-place__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 22px;
    margin-bottom: 76px;
  }
}
