.cards__like-button {
  color: black;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-image: url("../../../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 28px;
  height: 19px;
}

.cards__like-button:hover {
  opacity: 0.5;
}

.cards__like-button_active {
  background-image: url("../../../images/like_active.svg");

  opacity: 1;
}
