.cards__like-button {
  background-color: white;
  color: black;
  border: none;
  padding: 0;
}

.cards__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cards__like-button:active {
  opacity: 1;
  cursor: pointer;
}
